.aboutContainer header{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom:15%;
}
.aboutContainer header .left{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: urw-din, sans-serif;
}
.aboutContainer header .middle {
    display: flex;
    font-size: 120%;
}
.aboutContainer header .middle section {
    z-index: 200;
}
.aboutContainer header .middle .name, .aboutContainer header .middle .title {
    position: absolute;
    font-size: 180%;
}
.aboutContainer header .middle .name {
    left: 25%;
    font-weight: 400;
    font-family: raleway, sans-serif;
}
.aboutContainer header .middle .name .subHi{
    display: flex;
    font-family: ambroise-std, serif;
}
.aboutContainer header .middle .name .subHi h1 {
    padding: 0 10px;
    font-weight: 700;
    font-style: italic;

}
.aboutContainer header .middle .title {
    left: 54%;
    bottom: -58%;
    font-weight: 400;
    font-family: raleway, sans-serif;
    
}
.aboutContainer header .middle .title .soft {
    font-weight: 700;
    font-style: italic;
    font-family: ambroise-std, serif;
}
.aboutContainer header .middle img {
    height: 300px;
    width: 350px;
}
.aboutContainer header .right {
    max-width: 10%;
    font-family: urw-din, sans-serif;
    
}
