.aboutContainer header{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.aboutContainer header .left{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.aboutContainer header .middle {
    display: flex;
}
.aboutContainer header .middle section {
    z-index: 200;
}
.aboutContainer header .middle .name, .aboutContainer header .middle .title {
    position: absolute;
    font-size: 180%;
}
.aboutContainer header .middle .name {
    left: 25%;
}
.aboutContainer header .middle .title {
    left: 55%;
    bottom: -50%;
}
.aboutContainer header .middle img {
    height: 300px;
    width: 350px;
}
.aboutContainer header .right {
    max-width: 10%;
}
