.aboutContainer header{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom:15%;
}
.aboutContainer header .left{
    display: flex;
    margin-top: 13%;
    flex-direction: column;
    justify-content: flex-end;
    font-family: urw-din, sans-serif;
}
.aboutContainer header .middle {
    display: flex;
    font-size: 120%;
}
.aboutContainer header .middle section {
    z-index: 200;
}
.aboutContainer header .middle .name, .aboutContainer header .middle .title {
    position: absolute;
    font-size: 180%;
}
.aboutContainer header .middle .name{
    top: 170px;
    left: 150px;
    font-family: raleway, sans-serif;
}
.aboutContainer header .middle .name .subHi{
    display: flex;
    font-family: ambroise-std, serif;
}
.aboutContainer header .middle .name .subHi h1 {
    padding: 0 10px;
    font-weight: 700;
    font-style: italic;
   

}
.aboutContainer header .middle .title {
    right: 130px;
    bottom:200px;
    font-weight: 400;
    font-family: raleway, sans-serif;
    
}
.aboutContainer header .middle .title .soft {
    font-weight: 700;
    font-style: italic;
    font-family: ambroise-std, serif;
}
.aboutContainer header .middle img {
    height: 300px;
    width: 350px;
}
.aboutContainer header .right {
    max-width: 10%;
    font-family: urw-din, sans-serif;  
}
/* @media screen and (min-width: 300px) and (max-width:500px) {
    .aboutContainer header{
        display:block;
    }
    .aboutContainer header .left {
        margin-bottom: 30%;
    }
	.aboutContainer header .middle {
        font-size: 80%;
    }
    .aboutContainer header .middle .name {
        left: 2%;
        bottom: -40%;
    }
    .aboutContainer header .middle .title {
        left: 38%;
        bottom: -78%; 
        font-size: 150%;
    }
    .aboutContainer header .middle img {
        height: 300px;
        width: 300px;
    }
    .aboutContainer header .right {
        padding-top:30%;
        max-width: 90%;
        text-align: center;
    }
} */
/* @media screen and (min-width: 500px) and (max-width:700px) {
    .aboutContainer header{
        display:flex;
        flex-direction: column;
    }
    .aboutContainer header .left {
        margin-bottom: 30%;
    }
	.aboutContainer header .middle {
        font-size: 120%;
    }
    .aboutContainer header .middle .name {
        left: 2%;
        bottom: -35%;
    }
    .aboutContainer header .middle .title {
        left: 48%;
        bottom: -82%; 
        font-size: 150%;
    }
    .aboutContainer header .right {
        padding-top:30%;
        max-width: 90%;
        text-align: center;
    }
}
@media screen and (min-width: 700px) and (max-width:900px) {
	.aboutContainer header .middle {
        font-size: 120%;
    }
    .aboutContainer header .middle .name {
        left: 2%;
        bottom: -15%;
    }
    .aboutContainer header .middle .title {
        left: 58%;
        bottom: -55%; 
        font-size: 140%;
    }
    .aboutContainer header .right {
        max-width: 20%;
    }
}
@media screen and (min-width:900px) {
	.aboutContainer header .middle {
        font-size: 120%;
    }
    .aboutContainer header .middle .name {
        left: 12%;
        bottom: -15%;
    }
    .aboutContainer header .middle .title {
        left: 58%;
        bottom: -55%; 
        font-size: 140%;
    }
    .aboutContainer header .right {
        max-width: 20%;
    }
} */