.homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.newHomeContainer {
    height:100vh;
}
.newHomeContainer main {
    display: flex;
    height: 70vh;
    position: absolute;
    top: 12%;
    left: 0;
    flex-direction: column;
    justify-content: space-between;
}
.newHomeContainer main h1{
    font-size: 500%;
    width: 50%;
    padding: 5%;
    letter-spacing: 10px;
}
.newHomeContainer main h5{
    /* font-size: 110%; */
    width: 100vw;
}
.newHomeContainer .scrollContainer{
    position: absolute;
    top:85%;
    overflow:hidden;
    width: 100vw;
}
.newHomeContainer .scrollText {
    letter-spacing:9px;
    width: fit-content;
    font-family: freight-big-pro, serif;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-animation 15s linear infinite;
    -webkit-animation: scroll-animation 15s linear infinite;
    animation: scroll-animation 15s linear infinite;
}
.bigIdeasContainer {
    height:100vh;
    text-align: center;
}

.bigIdeasContainer h1{
    font-size: 650%;
    width: 100vw;
    letter-spacing: 13px;
}
.bigIdeasContainer p {
    font-size: 150%;
    margin-bottom: 1%;
}
.bigIdeasContainer a {
    text-decoration: underline;
}


/* .homeContainer ul{
    margin: 2% 5%;
    color: var(--tertiary);
    padding: 1%;
    width: 15%;
    font: 700;
    font-size: 30px;
    background-color: rgba(244, 238, 227, 0.151);
    font-family: ambroise-firmin-std, serif;
}
.homeContainer ul li {
    margin: 10% 0;
    text-align: center;
}
.homeContainer ul li a{
    margin: 10% 0;
    text-align: center;
    color: var(--bckgrnd);
}
.homeContainer section {
    display: flex;
    padding: 5%;
    flex-direction: column;
    align-items: self-end;
    position: relative;
    top: 20rem;
    font-family: ambroise-firmin-std, serif;
 }
.homeContainer section a{
   color: var(--tertiary);
   font-size: 45px;
   margin: 0.2% 0
}
@media screen and (min-width: 300px) and (max-width:500px) {
    .homeContainer ul{
        width: 10%;
    }
    .homeContainer section {
        top: 25rem;
     }
}
@media screen and (min-width: 500px) and (max-width:700px) {
    .homeContainer ul{
        width: 10%;
    }
    .homeContainer section {
        top: 25rem;
     }
}
@media screen and (min-width: 700px) and (max-width:900px) {
    .homeContainer ul{
        width: 10%;
    }
    .homeContainer section {
        top: 25rem;
     }
} */