.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.newHomeContainer {
  display: flex;
  align-items: start;
  justify-content: end;
}
.newHomeContainer main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.newHomeContainer main h1 {
  margin-top: 0.5em;
  font-size: 10vw;
  text-align: center;
  width: 100vw;
  white-space: nowrap;
  letter-spacing: 20px;
  font-family: "PPEditorial New Regular";
}

.newHomeContainer main h5 {
  width: 100vw;
}
.newHomeContainer .scrollContainer {
  position: absolute;
  top: 100%;
  overflow: hidden;
  width: 100vw;
}
.journeyCard {
  margin: 20vh 0vh;
  width: 60%;
  height: 20em;
}
.blurbContainer {
  margin-top: 15em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.blurbContainer .photos {
  z-index: 90;
  position: absolute;
  right: 10em;
  bottom: -42em;
}
.blurbContainer img {
  border-radius: 200px;
  height: 250px;
  width: auto;
}
.blurbContainer img.bAndG {
  position: absolute;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}
.blurbContainer:hover img.color {
  opacity: 0;
}

.blurbContainer:hover img.bAndG {
  opacity: 1;
}
.aboutMeBlurb {
  font-size: 160%;
  line-height: 150%;
  max-width: 60%;
  text-align: justify;
}
@media screen and (min-width: 501px) and (max-width: 900px) {
  .newHomeContainer {
    height: 60vh;
  }
  .newHomeContainer .scrollContainer {
    top: 25rem;
  }
  .newHomeContainer main {
    height: 37vh;
  }
  .bigIdeasContainer {
    height: 50vh;
    margin: 20rem 0;
  }
}
@media screen and (min-width: 300px) and (max-width: 500px) {
  .newHomeContainer {
    height: 82vh;
  }
  .newHomeContainer main {
    height: 50vh;
  }
  .newHomeContainer .scrollContainer {
    top: 120%;
  }
  .newHomeContainer main h1 {
    font-size: 300%;
    padding-top: 40%;
  }
  .bigIdeasContainer {
    height: 35vh;
  }
  .bigIdeasContainer h1 {
    font-size: 200%;
  }
  .bigIdeasContainer a {
    font-weight: 100;
  }
}
