/* Font Links ============================ */
@import url("https://use.typekit.net/tkn1umx.css");
* {
  margin: 0;
  padding: 0;
}
.floating {
  box-shadow: 0px 10px 15px 10px rgba(0, 0, 0, 0.15);
}

html,
#root {
  background-color: var(--dark-background);
  color: var(--dark-text);
  cursor: none;
  font-family: Mikura;
}
/* cretion of the cursor */
.cursorDot {
  width: 10px;
  height: 10px;
  background-color: var(--dark-text);
}
.cursorOutline {
  width: 30px;
  height: 30px;
  border: 2px solid var(--dark-text);
  transition: top 0.2s ease, left 0.2s ease;
}
.cursorDot,
.cursorOutline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 101;
  pointer-events: none;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.parallax {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lineContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.lineContainer span {
  display: inline-block;
  width: 1px;
  background-color: rgba(111, 111, 111, 0.369);
  height: 70vh;
}
.wordsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 500%;
  font-family: ambroise-firmin-std, serif;
}

.borderBottom {
  border: 2px solid var(--font);
  border-top: 0;
  border-left: 0;
  border-right: 0;
}
.blurbContainer {
  display: flex;
  justify-content: center;
}
.card {
  background-color: var(--popout);
  padding: 4.5%;
  border-radius: 30px;

  /* text-align: start; */

  border: solid black 1px;
}
.none {
  display: none;
}
.shadow-twenty-two {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.shadow-twelve {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
button {
  width: 20%;
  padding: 1% 2%;
  font-weight: 600;
  font-size: large;
  letter-spacing: 10px;
  transition: all 0.3s ease-in;
  border-radius: 50px;
  background-color: var(--dark-background);
  color: var(--dark-text);
  border: 1.5px solid var(--dark-text);
}

button:hover {
  border: 1.5px solid var(--primary);
  background-color: #030006;
  color: var(--primary);
}
.d-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.d-c-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.d-even {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.d-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.loadingContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cap {
  text-transform: capitalize;
}

/*animation to scroll across screen */
@-moz-keyframes scroll-animation {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}
@-webkit-keyframes scroll-animation {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes scroll-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
@media screen and (min-width: 300px) and (max-width: 500px) {
  .wordsContainer {
    font-size: 200%;
  }
  .miniBlurb {
    font-size: 150%;
  }
  .lineContainer span {
    height: 100vh;
  }
}
@media screen and (min-width: 500px) and (max-width: 700px) {
  .wordsContainer {
    font-size: 300%;
    text-align: center;
  }
}
