.workContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.workContainer .tags {
    margin:3%;
    width: 100%;
}
.workContainer .tags a {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    color: var(--bright-accent);
    border: solid #e2e2e2 1px;
    background-color: #e2e2e2;
    padding: 0.4%;
    border-radius: 20px;
    box-shadow: rgba(251, 251, 251, 0.15) 1.95px 1.95px 2.6px;

}
.workContainer .tags a:hover {
    color: var(--dark-text);
}

.workContainer .projectContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3;
    max-width:80%
}

.workContainer .projectContainer .projectCard {
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
}
.workContainer .projectContainer .projectCard .projectImg {
    display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.workContainer .projectContainer .projectCard video {
    width: 100%;
    height: auto;
    object-fit: cover;
}
  
.workContainer .projectContainer .projectCard .projectImg.show {
    display: block;
  }
.workContainer .projectContainer .projectCard .projectQuickView {
    display: none;
  }
.workContainer .projectContainer .projectCard:hover .projectQuickView, .workContainer .projectContainer .projectCard .projectQuickView.show  {
    display: flex;

}


.workContainer .projectContainer div img {
    width: 100%; 
    border: 1px solid black;

}
.workContainer .projectContainer h2{
    max-width: max-content;
    border-radius: 20px;
    padding:2% 4%;
    font-family: raleway, sans-serif;
    font-style: italic;
    margin-bottom: 2%;
}
.workContainer .projectContainer ul{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-left: 7 0px; 
}
.workContainer .projectContainer ul li{
    margin: 0.1em;
    padding:2% 4%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.447);
    text-decoration: underline;
    position: relative;
    left:2%;
}

@media screen and (min-width: 300px) and (max-width:500px) {
    .workContainer .projectContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0;
        max-width: 80%;
      }
}
