.workContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.workContainer .projectContainer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    transition: filter 0.3s ease-in-out;
}
.workContainer .projectContainer .projectCard {
    width: 20%;
    height: 20%;
    height: 300px;
    transition: filter 2s linear;
    
}
.workContainer .projectContainer .projectQuickView {
    display: flex;
    position: absolute;
    width: 100%;
    flex-direction: column;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.447);
    align-items: center;
    justify-content: center;
    position: relative;
    height: 300px;
    top:-107%;
    height:105%;
    opacity: 0;
}

.workContainer .projectContainer .projectCard:hover .projectQuickView {
    opacity: 1; 
    transform: translateY(-5);
}


.workContainer .projectContainer div img {
    width: 100%;
    border: 1px solid black;

}
.workContainer .projectContainer h2{
    max-width: max-content;
    text-align: right;
    border-radius: 20px;
    padding:2% 4%;
    font-family: raleway, sans-serif;
    font-style: italic;
}
.workContainer .projectContainer ul{
    display: flex;
    width: 100%;
    justify-content: center;
    /* justify-content: flex-start; */
    padding-left: 7 0px; 
}
.workContainer .projectContainer ul li{
    margin: 0.1em;
    padding:2% 4%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.447);
    /* color: whitesmoke; */
    text-decoration: underline;
    position: relative;
    left:2%;
}



/* @media screen and (min-width: 300px) and (max-width:500px) {
    .workContainer #seaVideoWork{
        width: 95%;
    }
    .workContainer .header .title {
        display: flex;
        position: absolute;
        font-size: 220%;
        margin-top: 6%;
        right: 7.2%;
    }
    .workContainer .projectContainer div {
        flex-wrap: wrap;
    }
    .workContainer .projectContainer div section img, .projInfo {
        width: 275px;
    }
    .workContainer .projectContainer div section img{
        margin-top: 10px;
    }
    .plusContainer .right{
        bottom:1px;
        right:0;
    }
}
@media screen and (min-width: 500px) and (max-width:700px) {
    .workContainer #seaVideoWork{
        width: 95%;
    }
    .workContainer .header .title {
        display: flex;
        position: absolute;
        font-size: 320%;
        margin-top: 6%;
        right: 10.2%;
    }
    .workContainer .projectContainer div {
        flex-wrap: wrap;
    }
    .workContainer .projectContainer div section img, .projInfo {
        width: 400px;
    }
    .workContainer .projectContainer div section img{
        margin-top: 10px;
    }
    .plusContainer .right{
        bottom:1px;
        right:0;
    }
}
@media screen and (min-width: 500px) and (max-width:700px) {
    .workContainer #seaVideoWork{
        width: 95%;
    }
    .workContainer .header .title {
        right: 15.2%;
    }
    .workContainer .projectContainer div {
        flex-wrap: wrap;
    }
    .workContainer .projectContainer div section img{
        margin-top: 40px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .workContainer .projectContainer div section img, .projInfo {
        width: 350px;
    }
}
@media screen and (min-width: 700px) and (max-width:900px) {
	.workContainer #seaVideoWork{
        width: 95%;
    }
    .workContainer .projectContainer div {
        flex-wrap: wrap;
    }
    .workContainer .projectContainer div section img{
        margin-top: 40px;
        margin-left: 15px;
        margin-right: 15px;
    }
}
@media screen and (min-width:900px) {
	.workContainer #seaVideoWork{
        width: 95%;
    }
    .workContainer .projectContainer div {
        flex-wrap: wrap;
    }
    .workContainer .projectContainer div section img{
        margin-top: 40px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .plusContainer .right{
        bottom:2px;
        right:0.5px;
    }
} */