.contactContainer {
    padding:3%;
    display:flex;
    justify-content: space-evenly;
}
.contactContainer h1 {
    margin-bottom: 30px;
    font-size: 320%;
}
.contactContainer .contactFormContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    
}
.contactContainer form {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 7%;
    background-color: var(--light-background);
    padding: 10%;
    border-radius: 50px;
}
.contactContainer form label{
    letter-spacing: 4px;
}
.contactContainer form input, .contactContainer form select{
    background-color: var(--popout);
    padding: 2%;
    border-radius: 25px;
    border-right: 0;
    border-top: 0;
    border-left:0;
    border-bottom: 5%;
    border-style: var(-bckgrnd);
    font-family: ambroise-std, serif;
    margin: 10px 0;
    width: 500px;
    font-size: 20px;
    color: var(--bckgrnd);
    letter-spacing: 2px;
    margin-bottom: 10%;
}
.contactContainer button {
    width: 100%;
    padding: 5%;
    font-size: 1em;
    border: 1.5px solid var(--light-text);
    background-color: var(--light-text);
    color: var(--dark-text);
}
.contactContainer button:hover {
    background-color: var(--light-background);
    border: 1.5px solid var(--light-text);
    color: var(--light-text);
}
.contactContainer h2 {
    color:var(--font);
    text-decoration: underline dotted;
}
.contactContainer .contactLinks a{
    font-size: 275%;
    color: var(--bckgrd);
}
.contactContainer .contactLinks a:hover{
    cursor: pointer;
}
.thankSection {
    background-color: var(--popout);
    padding: 5%;
    border-radius: 40px;

}
.thankSection div{
    display: flex;
    align-items: center;
    background-color: var(--light-text);
    justify-content: space-between;
    padding: 10px;
    width: 30%;
    border-radius: 20px;
}

.thankSection div a:hover{
    color: var(--light-background);
}
/* ===============================LANDING CSS=========================== */
/* animation to scroll across screen */
/* @-moz-keyframes scroll-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }
@-webkit-keyframes scroll-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }  
@keyframes scroll-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  } */
  /* =================================== */


  /* @media screen and (min-width: 300px) and (max-width:500px) {
    .contactContainer .scrollContainer {
        transform: rotate(0deg);
        left: 0;
        width: 100%;
        font-size: 130%;
    }
    .contactContainer form {
        padding-top: 70%;
    }
    .contactContainer form input, .contactContainer form select {
        width: 300px;
    }
    .contactContainer form button{
        margin-left: 22%;
      }
    .contactContainer .contactLinks {
        top: 10%;
        left: 5%;
    }
}
@media screen and (min-width: 500px) and (max-width:700px) {
    .contactContainer .scrollContainer {
        transform: rotate(0deg);
        left: 0;
        width: 100%;
        font-size: 130%;
    }
    .contactContainer form {
        padding-top: 40%;
        padding-bottom: 30%;
    }
    .contactContainer .line {
        display: none;
    }
    .contactContainer form input, .contactContainer form select {
        width: 250%;
    }
    .contactContainer form button{
        margin-left: 22%;
      }
    .contactContainer .contactLinks {
        top: 35%;
        left: 5%;
    }
}
@media screen and (min-width: 700px) and (max-width:900px) {
    .contactContainer .scrollContainer {
        transform: rotate(0deg);
        left: 0;
        width: 100%;
        font-size: 130%;
    }
     .contactContainer form {
        padding-top: 20%;
        padding-bottom: 30%;
    }
    .contactContainer form input, .contactContainer form select {
        width: 290%;
    }
    .contactContainer .line {
        display: none;
    }
    .contactContainer .contactLinks {
        top: 35%;
        left:2%;
    }
}
@media screen and (min-width:900px) and (max-width: 1500px) {
    .contactContainer .scrollContainer {
        left: 64%;
        transform: rotate(0deg);
        width: 383px;
    }
     .contactContainer form {
        padding-top: 20%;
        padding-bottom: 30%;
    }
    .contactContainer .line {
        position: relative;
        left: 20%;
    }
    .contactContainer form input, .contactContainer form select {
        width: 150%;
    }
    .contactContainer .contactLinks {
        top: 10%;
        left:12%;
    }
} */