
.contactContainer {
    background-color: var(--secBkgrd);
    color: var(--bckgrd);
    padding:3%;
    display:flex;
    justify-content: space-evenly;
}
.contactContainer .scrollContainer{
    position: absolute;
    left: -25%;
    overflow:hidden;
    transform: rotate(270deg);
    font-size: 180%;
    width: 66%;
}
.contactContainer .scrollText {
    letter-spacing:9px;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: my-animation 15s linear infinite;
    -webkit-animation: my-animation 15s linear infinite;
    animation: my-animation 15s linear infinite;
}

.contactContainer h1 {
    margin-bottom: 30px;
    font-size: 320%;
}
.contactContainer .contactFormContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.contactContainer form {
    display:flex;
    flex-direction: column;
    align-items: start;
}
.contactContainer form label{
    letter-spacing: 4px;
}
.contactContainer form input, .contactContainer form select{
    background-color: var(--bckgrnd);
    border-right: 0;
    border-top: 0;
    border-left:0;
    border-bottom: 5%;
    border-style: var(-bckgrnd);
    margin: 10px 0;
    width: 500px;
    font-size: 20px;
    color: var(--bckgrnd);
    letter-spacing: 2px;
    margin-bottom: 10%;
}
.contactContainer form button{
  margin-left: 32%;
}
.contactContainer form .button--shape {
	color:var(--bckgrd);
}

.contactContainer form .button--shape::before {
	background: var(--bckgrd);
}
.contactContainer form .button--shape::after {
    border: 1px solid var(--bckgrd);
}
.contactContainer .line {
    width: 1px;
    height: 580px;
    background-color: var(--bckgrd);
}
.contactContainer h2 {
    color:var(--font);
    text-decoration: underline dotted;
}
.contactContainer .contactLinks {
    display: flex;
    flex-direction: column;
    max-height:fit-content;
    align-items: end;
    position: relative; 
    top: 35%;
    left: 15%;
}
.contactContainer .contactLinks a{
    font-size: 275%;
}
@-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }