.stacking-container{
    position: relative;
}
.featuredContainer header {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
    height: 100vh;
}
.featuredContainer header h1{
    text-align: center;
    margin: 3%;
    font-size: 1200%;
}
.featuredContainer main .projectContainer{
    margin: 2%;
    width: 60%;
    position:sticky;
    top: 0;

}
.featuredContainer main div img{
    width: 100%;
    border-radius:20px;
}