footer {
  margin: 3%;
  padding: 4%;
  /* height: 35vh; */
  width: 85% !important;
  border-radius: 20px;
  border: solid #000000 1px;
}
footer main section h1 {
  text-transform: uppercase;
  width: 250px;
  font-size: 45px;
}
footer main section ul {
  margin: 20px 0;
  color: #000000;
}
footer main section ul li {
  margin: 10px 0;
}
footer main a {
  color: #000000;
}
footer div {
  text-align: center;
}
