.navbarContainer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 1.5%;
    background-color: var(--dark-background);
	color: var(--light-text);
    backdrop-filter: blur(10px);
    overflow: hidden;
}
.navbarContainer .leftside {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.hamburger-menu {
    display: none;
}
.container--toggle input[type="checkbox"] {
    display: none;
  }
  .container--toggle input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 14px/20px "Open Sans", Arial, sans-serif;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  .container--toggle input[type="checkbox"]:hover + label:before { 
    border: 1px solid #343a3f;
    box-shadow: 2px 1px 0 #343a3f;
  }
  .container--toggle input[type="checkbox"] + label:last-child {
    margin-bottom: 0;
  }
  .container--toggle input[type="checkbox"] + label:before {
    content: "";
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #343a3f;
    border-radius: 0.2em;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.2s, background 0.2s ease-in-out;
    transition: all 0.2s, background 0.2s ease-in-out;
    background: rgba(255, 255, 255, 0.03);
    box-shadow: -2px -1px 0 #343a3f;
    background: #f3f3f3;
  }
  .container--toggle input[type="checkbox"]:checked + label:before {
    border: 2px solid #fff;
    border-radius: 0.3em;
    background: #50565a;
    box-shadow: 2px 1px 0 #50565a;
  }

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

.navbarContainer .weatherInfo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:35%;
    height: 100%;
}
.navbarContainer .weatherInfo div{
    border: solid var(--light-background) 2px;
    padding: 2%;
    border-radius: 30px;
    padding: 2% 10%; 
}   
.navbarContainer .weatherInfo h6{
    font-size: 90% 
}   
.navbarContainer .weatherInfo a{
    font-size: 120% 
}   

.dot{
    text-decoration: line-through;
    text-decoration-color: var(--highlight-text);
}
.navbarContainer ul {
    margin-top: 15%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 50px;
    bottom:10px;
}
.navbarContainer ul li{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 5%;
}
.navbarContainer ul li a{
    color: var(--light-text);
    position: relative;
    overflow: hidden;
    
}
.navbarContainer ul li a::before {
    content: "";
    position: absolute;
    bottom: 46%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--light-text);
    transition: width 0.3s ease-in-out; 
}
.navbarContainer ul li a:hover::before {
    width: 100%; 
}

.navbarContainer ul li p{ 
    position: relative;
    left: -20px;
    top: -30px;
    font-size: 15%;   
}
.scrolled{
    position: fixed;
    top: 0;
    left: 0;
}
.frosted {
    width: 100%;
    z-index:100;
    padding-bottom: 2%;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px); 
    box-shadow: 0px 10px 15px 10px rgba(0 ,0 ,0 ,0.15);
    background-color: rgba(228 ,228 ,228 ,0.10);
}
@media screen and (min-width: 300px) and (max-width:500px) { 
    .navbarContainer {
        padding: 3% 5%;
    }
    .frosted {
        width: 90%;
    }
    .navbarContainer ul {
        display: none;
    }
    .navbarContainer .weatherInfo {
       display: none;
    }
    .navbarContainer .leftside {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .navbarContainer .hamburger-menu {
        position: relative;
        top: 10px;
        display: block;
    }
    .navbarContainer .hamburger-menu .line {
        width: 25px;
        height:2px;
        margin:3px 0;
        background-color: var(--bright-accent);
    }

    .navbarContainer ul.show {
        display: flex;
        flex-direction: row;
        width: 100%;
        position: relative;
    }
    /* .container--toggle {
        position: relative;
        left: 230%;
        top:-10px;
    } 
    #homeLi, #aboutLi, #workLi{
        display: none;
    }
    #homeLi.show, #aboutLi.show, #workLi.show {
        display: flex;
        flex-direction: column;
        height: 300vh;
    }
    .navbarContainer .hamburger-menu {
        display: block; 
        cursor: pointer;
        position: relative;
        right:40px
    }
    .navbarContainer .hamburger-menu .line {
        width: 25px;
        height:2px;
        margin:3px 0;
        background-color: var(--bright-accent);
    }
    .navbarContainer .weatherInfo {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
      } */
}/* 
@media screen and (min-width: 500px) and (max-width:700px) {
    .navbarContainer ul {
        justify-content: space-evenly;
        width: 70%;
    }
}
@media screen and (min-width: 700px) and (max-width:900px) {
    .navbarContainer ul {
        justify-content: space-evenly;
        width: 60%;
    }
}
@media screen and (min-width:900px) {
    .navbarContainer ul {
        justify-content: space-evenly;
        width: 60%;
    }
} */