.navbarContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 1.5%;
    background-color: var(--dark-background);
	color: var(--light-text);
    backdrop-filter: blur(10px);
    overflow: hidden;
}
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

.navbarContainer .weatherInfo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    height: 100%;
}
.navbarContainer .weatherInfo div{
    border: solid var(--light-background) 2px;
    padding: 2%;
    border-radius: 10%;
}
.navbarContainer .sendContact, .dot{
    font-style: italic;
}
.navbarContainer ul {
    display: flex;
    width: 25%;
    justify-content: space-evenly;
}
.navbarContainer ul li a:hover {
    color: var(--pinkyP);
}
.navbarContainer ul li a::after{
    color: var(--rubyR);
    text-decoration: underline dotted;
}
.navbarContainer ul li p{ 
    position: relative;
    left: -20px;
    top: -30px;
    font-size: 15%;   
}
/* @media screen and (min-width: 300px) and (max-width:500px) {
    .navbarContainer ul {
        display: block;
    }
}
@media screen and (min-width: 500px) and (max-width:700px) {
    .navbarContainer ul {
        justify-content: space-evenly;
        width: 70%;
    }
}
@media screen and (min-width: 700px) and (max-width:900px) {
    .navbarContainer ul {
        justify-content: space-evenly;
        width: 60%;
    }
}
@media screen and (min-width:900px) {
    .navbarContainer ul {
        justify-content: space-evenly;
        width: 60%;
    }
} */