.highlight-container {
  margin: 14% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.timeline h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 300%;
  text-align: center;
}

.highlight-container .box {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.highlight-container .sticky_parent {
  height: 200vh; /*creates the sticky scroll for the parent*/
}
.highlight-container .sticky{
  overflow: hidden;
  position: sticky;
  top:0;
  height: 100vh;
}
.highlight-container .scroll_section{
  position: absolute;
  top:0;
  height: 100%;
  width: 500vw;
  will-change: transform;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
}
.highlight-container .card-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.highlight-container .card-container .card {
  min-width: 80%;
  flex-shrink: 0;
  padding: 40px;
  margin: 0 20px; 
  border-radius: 28px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.highlight-container .card-container .card h4 {
  color: var(--bright-accent);
  font-size: 140%;
}

.highlight-container .card-container .card p {
  font-size: 160%;
}
