.modal-overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 10vh;
  background: rgba(178, 178, 178, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.modal-content {
  background-color: #272727;
  width: 40%;
  height: 80%;
  border-radius: 20px;
  color: var(--dark-text);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 2%;
}
.star-close {
  transition: all ease-in-out 1s;
}
.star-close:hover {
  transform: rotate(225deg);
}

.modal-content button svg {
  font-size: 24px;
}
