.navbarContainer {
    display: flex;
    justify-content: space-between;
    padding: 3%;
}
.navbarContainer .sendContact{
    text-decoration: underline dotted;
}
.navbarContainer ul {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.navbarContainer ul li p{ 
    position: relative;
    left: 45px;
    top: -30px;
    font-size: 15%;
    text-decoration: underline dotted;
}

.dot {
    list-style-type: disc;
}
