.navbarContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 3%;
}
.navbarContainer section h6{
    font-weight: 300;
    font-family: freight-big-pro, serif;
}
.navbarContainer .sendContact, .dot{
    font-style: italic;
}
.navbarContainer ul {
    display: flex;
    justify-content: space-around;
    width: 30%;
    font-weight: 300;
    font-family: freight-big-pro, serif;
}
.navbarContainer ul li a{
    color: var(--rubyR);
    /* font-family: ambroise-francois-std, serif; */
    transition: all ease-in 1s;
}
.navbarContainer ul li a:hover {
    color: var(--pinkyP);
}
.navbarContainer ul li a::after{
    color: var(--rubyR);
    text-decoration: underline dotted;
}
.navbarContainer ul li p{ 
    position: relative;
    left: 45px;
    top: -30px;
    font-size: 15%;
    
}
