.processContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 2%;
    font-family: ambroise-std, serif;
}
.processContainer .processSteps{
    display: flex;
    padding-top: 7%;
    width: 100%;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 3%;
    scroll-snap-type: x mandatory;
}
.processContainer .processSteps section{
    width: 80%;
    text-align: start;
    padding: 0 3%;
    font-family: urw-din, sans-serif;
}
.processContainer .processSteps section h5{
    text-align: end;
    padding-right: 5%;
}
.processContainer .processLines{
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2%;
}
.processContainer .line {
    height: 50px;
    transform:rotate(90deg);
    width:2px;
    background-color: var(--rubyR);
    margin:0 1.5%;
    margin-bottom:3%;
}
.pink {
    color: var(--pinkyP);
}
@media screen and (min-width: 300px) and (max-width:500px) {
    .processContainer {
        margin-top: 50px;
    }
    .processContainer .processSteps{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (min-width:300px) and (max-width:700px) {
    .processContainer .processLines {
        width: 61%;
        justify-content: space-between;
    }
    .processContainer .processSteps{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (min-width:700px) and (max-width:900px) {
    .processContainer .processLines {
        width: 61%;
        justify-content: space-between;
    }
    .processContainer .processSteps{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (min-width:900px) {
    .processContainer .processLines {
        width: 61%;
        justify-content: space-between;
    }
    .processContainer .processSteps{
        flex-direction: column;
        align-items: center;
    }
}

