/**/
.projectContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
}
.projectContainer section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projectContainer section .header {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.projectContainer section header section h1 {
  font-size: 4em;
  font-style: italic;
}
.projectContainer section header section h5 {
  font-size: 1.5em;
}
.projectContainer .languages {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 10%;
}
.projectContainer .languages li {
  border: 1px dotted var(--accent-primary);
  padding: 10px;
  border-radius: 30px;
}

.projectContainer h6 {
  margin: 2% 0;
  font-size: 1.5em;
  margin-left: 0.5em;
}
.projectContainer section video {
  width: 700px;
  height: 600px;
}
.websiteContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  /* bottom: 10px; */
  padding-bottom: 30px;
}
.websiteContainer a,
.back-to-work {
  background-color: var(--text-secondary);
  padding: 1% 3%;
  border-radius: 30px;
  color: var(--secondary-accent);
  border: 1px solid var(--accent-primary);
  transition: all ease-in 0.3s;
}

.websiteContainer a:hover,
.back-to-work:hover {
  background-color: var(--accent-primary);
  color: var(--text-secondary);
}
.back-to-work {
  position: relative;
  top: 30px;
  left: 20px;
  width: max-content;
}
