.resumeContainer {
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.resumeContainer button {
    margin: 1% 0;
}
@media screen and (min-width: 300px) and (max-width:500px) {
    .resumeContainer {
    padding-top: 10%;
    }
    .resumeContainer button {
        margin:40% 0;
    }
}