.toolsContainer {
   margin-bottom: 10%
}
.toolsContainer .grid {
    display: grid;
    grid: auto auto auto / auto auto auto auto auto;
    align-items: space-evenly;
    justify-content: space-evenly;
    /* grid-auto-flow: column; */
    height: 400px;
    margin-top: 10%;
}
.toolsContainer .grid .item .reactIcon {
    font-size: 50px;
}
.toolsContainer .grid .item .inProgress {
    color: rgb(152, 111, 88);
}
.toolsContainer .grid .item:hover, .toolsContainer .grid .item .inProgress:hover{
    color: red;
}