.tools-container {
  /* margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  text-align: center; */
  text-align: center;
  margin: 13rem 0;
}
.tools-container h1 {
  font-size: 3rem;
  margin-bottom: 8%;
}
.icon-card {
  height: 200px;
  min-width: 200px;
  border: solid black 1px;
  border-radius: 20px;
  margin: 0 20px;
  transition: transform 0.3s ease;
}
.tools-container .cards {
  display: flex;
}
.skill-information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.skill-information h2 {
  margin-top: 4%;
}
.skill-information h4 {
  margin-top: 5px;
  font-style: italic;
}
.skill-information p {
  color: #d9d9d9;
  padding-top: 2%;
  width: 70%;
}
.resume-container button {
  margin-top: 3%;
  background-color: #ffffff;
  color: black;
}
